<div>
  <button
    mat-icon-button
    (click)="toggleDarkTheme()"
    class="theme-toggle"
    aria-label="Toggle Dark Theme"
  >
    <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
  </button>

  <app-alert></app-alert>

  <div class="demo-buttons">
    <button mat-button color="success">Success</button>
    <button mat-stroked-button color="success">Success Stroked</button>
    <button mat-flat-button color="success">Success Flat</button>
    <button mat-raised-button color="success">Success Raised</button>
    <button mat-icon-button color="success">
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>

  <div class="demo-buttons">
    <button mat-button color="info">Info</button>
    <button mat-stroked-button color="info">Info Stroked</button>
    <button mat-flat-button color="info">Info Flat</button>
    <button mat-raised-button color="info">Info Raised</button>
    <button mat-icon-button color="info">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</div>
